
extends _layout
block content
  div
    a(href="./index.pug") home
  .container.c
    .item-1 1
    .item-2 2
    .item-3 3
    .item-4 4
    .item-5 5
    .item-6 6
    .item-7 7
    .item-8 8
    .item-9 9


